.app {
  padding: 100px;
}

h2 {
  color: #0e64c0;
}

form {
  width: 50%;
}

.form-input {
  margin: 10px 0px;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid lightgray;
  padding: .375rem .75rem;
  outline: none;
  
}

button {
  background-color: #005ab9;
  color: #fff;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}



.edit {
  background-color: black;
}

.delete {
  background-color: crimson;
}

.card {
  background-color: #f8f6f6;
  border: 1px solid #d3d3d3;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}

.checkbox-container {
  display: flex;
}